@font-face {
  font-family: good_times;
  src: url("GoodTimesRg.ttf");
}
@font-face {
  font-family: origin_tech;
  src: url("OriginTech.ttf");
}
@font-face {
  font-family: azonix;
  src: url("Azonix.otf");
}
@font-face {
  font-family: earthorbiterbold;
  src: url("earthorbiterbold.ttf");
}

body {
  background-image: url("wallpap.png")
}
div {
  font-family: earthorbiterbold;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100vw;
  position: fixed;
  left: 0vw;
  top: 0vw;
  opacity: 0.9;
}

.topnav a {
  position: relative;
  left: 40vw;
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 0.8vw 0.85vw;
  text-decoration: none;
  font-size: 1vw;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.name{
  position: relative;
  left: -15vw;
  top: 0.15vw;
  font-size: 2.1vw;
  color: #f2f2f2;
  transition: font-size 0.5s;
}

.name:hover{
  font-size: 2.2vw;
}
