@font-face {
  font-family: good_times;
  src: url("GoodTimesRg.ttf");
}
@font-face {
  font-family: origin_tech;
  src: url("OriginTech.ttf");
}
@font-face {
  font-family: azonix;
  src: url("Azonix.otf");
}

@font-face {
  font-family: earthorbiterbold;
  src: url("earthorbiterbold.ttf");
}
body {
  background-image: url("wallpap.png")
}
div {
  font-family: earthorbiterbold;
  font-size: 30px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
