@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@font-face {
  font-family: good_times;
  src: url("GoodTimesRg.ttf");
}
@font-face {
  font-family: origin_tech;
  src: url("OriginTech.ttf");
}
@font-face {
  font-family: azonix;
  src: url("Azonix.otf");
}
@font-face {
  font-family: earthorbiterbold;
  src: url("earthorbiterbold.ttf");
}


#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background-image: url("wallpap.png");
  background-repeat: no-repeat;
}
div {
  font-family: earthorbiterbold;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#myBtn{
  border-radius: 0.5vw;
  position: relative;
  top: 92vh;
  left: 92vw;
  width: 7vw;
  font-size: 1.3vw;
  padding: 0.9vh;
  border: none;
  background: #1c2630;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}
#myBtn:hover{
  background: #2f4a66;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100vw;
  position: fixed;
  left: 0vw;
  top: 0vw;
  opacity: 0.9;
}

.topnav a {
  position: relative;
  left: 40vw;
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 0.8vw 0.85vw;
  text-decoration: none;
  font-size: 1vw;
  transition: background-color 0.5s, color 0.5s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.name{
  position: relative;
  left: -15vw;
  top: 0.2vw;
  font-size: 2.1vw;
  color: #f2f2f2;
  transition: font-size 0.4s;
}

.name:hover{
  font-size: 2.2vw;
}

@keyframes appearUp {
  0%   {top: 40vw; opacity: 0;}
  15%   {top: 20vw; opacity: 1;}
  85%  {top: 20vw; opacity: 1;}
  100% {top: 10vw; opacity: 0;}
}
#moto{
  position: relative;
  text-align: center;
  top: 40vw;
  opacity: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.5vw;
  animation-name: appearUp;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}


.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #023047; /*#242F3F*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}



.fade-in {
  animation: fadeIn 0.4s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.4s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.enlarge {
  animation: enlarge 0.4s;
  animation-fill-mode: forwards;
}

.reduce {
  animation: reduce 0.4s;
  animation-fill-mode:
}
@keyframes enlarge {
  from{transform: scale(1,1);}
  to{transform: scale(1.05,1.05);}
}

@keyframes reduce {
  from{transform: scale(1.05,1.05);}
  to{transform: scale(1,1);}
}
